<vdl-card>  
  <vdl-card-title>New Card in Partners</vdl-card-title>
  <vdl-card-content>
    <p>This is a new card. --by Bill</p>
  </vdl-card-content>
</vdl-card>
<!-- 
<vdl-card>
  <vdl-card-content> 
    <div class="container"> 
      <div class="pyramid">
        <div class="pyramid-top"></div>
        <div class="pyramid-middle"></div>
        <div class="pyramid-bottom"></div>
      </div>
      <div class="pyramid-text">
        <div class="pyramid-text-top">Platinum - 2 Expert Competency</div>
        <div class="pyramid-text-middle">Gold - 1 Expert Competency</div>
        <div class="pyramid-text-bottom">Silver - 1 Principal Competency</div>
      </div>
    </div>
  </vdl-card-content>
</vdl-card>
-->
<vdl-card>  
  <vdl-data-table class="vdl-data-table">
    <thead>
      <tr>
        <th class="vdl-text-cell">Resell (Volume)</th>
        <th style="text-align: center;">Level</th>
        <th>Itegrate (Value)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Accreds | Increased Revenue</td>
        <td><div class="pyramid-top"><strong>Platinum</strong> - 2 Expert Competencies</div></td>
        <td>Certs/Accreds | Increased Revenue | Partner Success - 2 | Technical Validation - Yes</td>
      </tr>
      <tr>
        <td>Accreds | Medium Revenue</td>
        <td><div class="pyramid-middle"><strong>Gold</strong> - 1 Expert Competency</div></td>
        <td>Certs/Accreds | Medium Revenue | Partner Success - 2 | Technical Validation - Yes</td>
      </tr>
      <tr>
        <td>Accreds | Minimum Revenue</td>
        <td><div class="pyramid-bottom"><strong>Silver</strong> - 1 Principal Competency</div></td>
        <td>Certs/Accreds | Minimum Revenue | Partner Success - 1 | Technical Validation - No</td>
      </tr>            
    </tbody>
  </vdl-data-table>
</vdl-card>